.not-found-image {
  width: 400px;
  height: 300px;
}

.not-found-heading {
  color: #262c33;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-top: 0;
}
.not-found-paragraph {
  color: #616e7c;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  margin-top: 0;
}
